.no-show{
    visibility:hidden;
    }
 .show{
    visibility:visible;
    }

.container h2{
    font-size: 36px;
    margin-bottom: 25px;
}

#contactUs-Header h2 {
    font-size: 36px;
    margin-top: 250px;
}



.breedInfo {
    
    visibility:unset;
    
}

.petSlideshow {
    visibility:initial;
}

#orgUrl{
    text-decoration:none;
}

.bulma-ltr-rtl-mixin {
    background-color: lightgreen;
    padding: 0.5em 1em;
    border: 1px solid seagreen;
    margin-right: -1px;
  
    &:first-child {
      @include ltr {
        border-bottom-left-radius: 0.5em;
        border-top-left-radius: 0.5em;
      }
  
      @include rtl {
        border-bottom-right-radius: 0.5em;
        border-top-right-radius: 0.5em;
      }
    }
  
    &:last-child {
      @include ltr {
        border-bottom-right-radius: 0.5em;
        border-top-right-radius: 0.5em;
      }
  
      @include rtl {
        border-bottom-left-radius: 0.5em;
        border-top-left-radius: 0.5em;
      }
    }
  }