.title {
    
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    
}

.phrase {
    font-family: 'Shadows Into Light', cursive;
    font-size: 23px;
}

/*#lucky {
    width: 100%;
    max-width: 900px;
    align-items: center;
}*/

#AboutUs{
    
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;
}

.no-show{
    visibility:hidden;
    }
 .show{
    visibility:visible;
    }

.container h2{
    font-size: 36px;
    margin-bottom: 25px;
}

#contactUs-Header h2 {
    font-size: 36px;
    margin-top: 250px;
}



.breedInfo {
    
    visibility:unset;
    
}

.petSlideshow {
    visibility:initial;

}

#org-Url, #contact-org{
    text-decoration:none;
}

